.card {
    position: relative;
    display: inline-block;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: .375em;
    background-clip: border-box;
    margin: 10px;
    text-align: center;
}

.card-body {
    padding: 1em 1.5em;
    flex: 1 1 auto;
}

.card-title {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #8898aa;
}

.card-value{
	margin-bottom: 0;
	font-size: 3.25em;
	font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
}
