.card {
    position: relative;
    display: inline-block;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: .375em;
    background-clip: border-box;
    margin: 10px;
    text-align: center;
}

.card-body {
    padding: 1em 1.5em;
    flex: 1 1 auto;
}

.card-title {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #8898aa;
}

.card-value{
	margin-bottom: 0;
	font-size: 3.25em;
	font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
}
table {
    border-collapse: collapse;
}

.table td .progress {
    width: 120px;
    height: 3px;
    margin: 0;
}

.progress {
    overflow: hidden;
    height: 4px;
    margin-bottom: 1em;
    border-radius: .25em;
    background-color: #e9ecef;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    width: 120px;
}

.progress {
    font-size: .75em;
    display: flex;
    box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,.1);
}

.progress-bar {
    height: auto;
    border-radius: 0;
    box-shadow: none;
}

.bg-gradient-danger {
    background: linear-gradient(87deg,#f5365c 0,#f56036 100%)!important;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    transition: width .6s ease;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #5e72e4;
    justify-content: center;
}

.percentage_text {
	width:50px;
}

.table .thead-light th {
  color:#8898aa;
  background-color:#f6f9fc;
  border-color:#e9ecef;
}